<div class="text-center">
  <h1コーディネートを投稿する</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @cordinate, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :image, '画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :tops, 'トップス' %>
        <%= f.text_field :tops, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :bottoms, 'ボトムス' %>
        <%= f.text_field :bottoms, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :shoes, '靴' %>
        <%= f.text_field :shoes, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :bag, 'カバン' %>
        <%= f.text_field :bag, class: 'form-control' %>
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>