<% if logged_in? %>
  <h2>最新コーディネート</h2>
  <div class="album py-5">
    <div class="row">
      <%= render @cordinates %>
    </div>
  </div>
  <p class="text-right mb-5">
      <%= link_to "コーディネート一覧", cordinates_path %>
  </p>
  <h2>お気に入りコーディネート</h2>
    <div class="album py-5">
    <div class="row">
      <%= render @likes %>
    </div>
  </div>
  <p class="text-right mt-0">
      <%= link_to "お気に入り一覧", likes_user_path(current_user)  %>
  </p>  
<% else %>
  <div class="mx-auto w-50 mb-3">
    <%= link_to '新規登録はこちら', signup_path, class: 'btn btn-secondary btn-lg btn-block' %>
  </div>
  <div class="mx-auto w-50">
    <%= link_to 'ログイン', login_path, class: 'btn btn-secondary btn-lg btn-block' %>
  </div>
<% end %>