<% if logged_in? %>
  <p>ログイン完了ユーザー： <%= current_user.name %></p>
  <ul>
    <% @cordinates.each do |cordinate| %>
      <li><%= cordinate.title %></li>
      <li><%= cordinate.tops %></li>
      <li><%= cordinate.bottoms %></li>
      <li><%= cordinate.shoes %></li>
      <li><%= cordinate.bag %></li>
      <li><%= cordinate.updated_at %></li>
    <% end %>
  </ul>
<% else %>
  <div class="text-center">
    <%= link_to '新規登録はこちら', signup_path, class: 'btn btn-secondary' %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-secondary' %>
  </div>
<% end %>